/* .MuiAppBar-root{
  background-color: none;
  background-image: url('https://assets-global.website-files.com/60ed82aa46014e7c14742973/6232f70850cb3ad5b755d47a_BG.jpg');
} */


/* REACT APP DEFAULT STYLES */
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
